/*
	breakpoint: 768px
*/

body {
	background-color: #fbfbff;
}

h1 {
	font-family: Georgia, serif;
	font-size: 1.8em;
	color: white;
	margin: 1px;
}

h2 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: large;
	font-weight:bold;
	color: white;
	white-space: nowrap;
}

p {
	color: white;
	font-size: 1em;
	font-family: sans-serif;
	word-spacing: 0.2em;
	letter-spacing: 0.05em;
}

hr {
    height: auto;
    background-color: white;
		margin-top: 0px;
}

.txt-black {
	color: black;
}
.txt-white {
	color: white;
}
.txt-italic {
	font-style: italic;
}
.txt-center {
	text-align: center;
}
.txt-bold {
	font-weight: bold;
}
.txt-medium {
	font-size: 1.2em;
}
.txt-large {
	font-size: 1.8em;
}
.margin-lg {
	margin: 30px;
}
.margin-md {
	margin: 20px;
}
.margin-sm {
	margin: 10px;
}
.margin-hd {
	margin: 30px 20px 10px 20px;
}
.txt-segoe {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.txt-center {
	text-align: center;
}

.anchor {
	display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}

.line-decor {
	position: relative;
	height: 1px;
	width: 100%;
	background: #fbfbff;
	clear:both;
}

.line-decor-bottom {
	bottom: 2px;
	position: absolute;
	height: 1px;
	width: 100%;
	background: #fbfbff;
	clear:both;
}

/***** Menu Bar *****/

.menu-bar {
	position:fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	background: black;
}

.menu-bar a {
	display: inline-block;
	margin-bottom: 15px;
	color: #fff;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.menu-bar a:hover {color: #92d3ff; text-decoration: none;}
.menu-bar a:focus { color: #fff; }
.menu-clicked {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	color: #ff9650;
}

.menu-column-1 {
  float: left;
  width: 70%;
	padding-left:30px;
	background-color: black;
	height: 50px;
}

.menu-column-2 {
  float: right;
  width: 30%;
	background-color: black;
	height: 50px;
}

.menu-icon {
	border: none;
  outline: none;
  -webkit-appearance: none;
	background: black;
}

.hidden-menu {
	text-align: center;
	color:white;
}

.hidden-menu p {
	display:inline;
}
/* **** */

/* Gallery navigation tree */
.gallery-nav {
	height: 25px;
	margin-top: 0em;
	padding-left: 1em;
	word-spacing: 0.2em;
	width: 100%;
	background: #dde8ef;
}
.gallery-nav-link {
	vertical-align: middle;
	display: inline;
	color: black;
	font-weight: 600;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.gallery-nav-link:hover {color: #92d3ff; text-decoration: none;}
.gallery-nav-link:focus { color: #fff; }
.gallery-nav-arrow {
	vertical-align: middle;
	display: inline;
	font-size: .7em;
	color: black;
}
.gallery-nav-current {
	color: black;
	font-style: italic;
	font-weight: 600;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	vertical-align: middle;
	display: inline;
}

/* Main Page Banner */
.bottom-centered {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.design-txt {
	display:inline;
	font-family: "Century", Georgia , Times New Roman;
	font-size: 3vw;
	color: #000;
}
.code-txt {
	display:inline;
	font-family: "Courier New", Courier, monospace;
	font-size: 3.8vw;
	color: #000;
}

.photo-txt {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 3vw;
	color: white;
}

.about-txt {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 3vw;
	font-style: italic;
	color: black;
}

.about-img {
	float: right;
  width: 100%;
}

.banner-container {
	position: relative;
	padding-top: 44px;
	text-align: center;
	width: 100%;
	overflow: hidden;
}

.img-container-absolute {
	position: absolute;
	top: 84px;
  right: 50px;
	width: 40%;
	background-color: #fff;
  background-color: rgba(245,245,251,0.9);
	padding: 15px;
	border-style: solid;
	border-width: .5px;
	border-color: #cccccc;
}

.img-banner {
	max-width: 100%;
	max-height: 80vh;
	display: block;
  margin-left: auto;
  margin-right: auto;
}
.img-banner-2 {
	max-width: 100%;
	max-height: 100vh;
	display: block;
  margin-left: auto;
  margin-right: auto;
}
.img-banner-mobile {
	display:none;
}

.subpage-title {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 2em;
	color: white;
}


/* **** Main Page Lower Content **** */

.lower-content {
	position:static;
  display: block;
	z-index: 500;
	width: 100%;
	height: 100%;
	background: linear-gradient(black, black);
	padding-bottom: 50px;
}
.lower-content-img {
	float: right;
	width: 20%;
	margin-left: 15px;
}
.outline-button {
	display: inline-block;
	width: 100%;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	margin:3px;
	text-align: center;
	padding: 2px;
	color: white;
	white-space: nowrap;
	background-color: #183755;
}
.outline-button:hover {background-color: #255684; text-decoration: none; color: white;}

.footer {
	position:static;
  display: block;
	z-index: 500;
	width: 100%;
	height: 100%;
	background-color: black;
}

/* mobile configuration */
.mobile {
	display: none;
}
.mobile h1 {
	text-align: center;
}
.mobile h2 {
	text-align: center;
}

/* Gallery */
.caption {
	margin-top: 10px;
}
.gallery-container {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	color: #ffffff;
	background-color: #000000;
	padding: 10px;
	text-align: center;
}
.thumbnailStyle {
	border: thick solid #000000;
	padding: 5px;
	background-color: #102739;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: ;
	
	text-align: center;
	width: ;
}

.grid-bg{
    background-image: /* tint image */
                      linear-gradient(to right, rgba(236, 236, 236, 0.90), rgba(236, 236, 236, 0.90)),
                      /* checkered effect */
                      linear-gradient(to right, black 50%, white 50%),
                      linear-gradient(to bottom, black 50%, white 50%);
    background-blend-mode: normal, difference, normal;
    background-size: 1em 1em;
	padding: 10px;
}


/* Grid Menu */

.image {
  position: relative;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  overflow: hidden;
  width: 100%;
}

.pattern {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	padding:2px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.fadecontainer:hover .image {
  opacity: 0.1;
}

.fadecontainer:hover .middle {
  opacity: 1;
}

.grid-title {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 2px;
	padding: 0.8rem;
	background: #0c4a7c;
	opacity: .8;
	font-family: "Garamond", Georgia, serif;
	font-weight: bold;
	font-size: 1.5rem;
	color: white;
}

.text {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  padding: 16px 32px;
}

/* **** */

.grid-row {
	min-height: 100px;
	overflow: hidden;
}
.grid-col {
	position:relative;
    float: left;
    width: 33.33%;
    padding: 2px;
    height: auto; /* Should be removed. Only for demonstration */
}
/* Clear floats after the columns */
.grid-row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .grid-col {
    	position:relative;
    	top:0;
    	left:0;
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
			.margin-md {
			margin: 1px;
		}
}

@media screen and (min-width: 1000px) {
    .grid-row {
    	position:relative;
    	top:0;
    	left:0;
      width: 70%;
			margin: 0 auto;
    }
}




.desktop {
	display: block;
}
/* Media Queries */
@media screen and (min-width: 1000px) {
	.design-txt {
		font-size: 30px;
	}
	.code-txt {
		font-size: 35px;
	}

}

@media screen and (max-width:950px){
	.img-container-absolute {
	position: absolute;
	top: 84px;
  right: 50px;
	width: 60%;
	background-color: #fff;
  background-color: rgba(245,245,251,0.9);
	padding: 15px;
	border-style: solid;
	border-width: .5px;
	border-color: #cccccc;
}


	
}
@media screen and (max-width: 767.5px) {
	.design-txt {
		font-size: 20px;
	}
	.code-txt {
		font-size: 25px;
	}
	.about-txt {
		font-size: 4vw;
	}
	.img-banner-mobile {
	position: relative;
	left: 50%;
	transform: translateX(-40%);
	max-width: none;
	max-height: 90vh;
	display: block;
  margin-left: auto;
  margin-right: auto;
	}
	.img-banner {
		display:none;
	}
	.lower-content-img {
	width: 30%;
}
	p {
	color: white;
	font-size: 1em;
	font-family: sans-serif;
	word-spacing: 0.1em;
	letter-spacing: 0.03em;
}
.outline-button {
	margin: 15px;
}
.desktop {
	display: none;
}
.mobile {
	display: block;
}
}

@media screen and (max-width: 520px) {
	.img-container-absolute {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 15px;
	width: auto;

	background-color: #fff;
  background-color: rgba(245,245,251,0.8);
	padding: 15px;
	border-style: solid;
	border-width: .5px;
	border-color: #cccccc;
}
}


/* Tables */
.table1 {
	width: 100%;
	margin: 20px;
	color: white;
}


/* Contact Form */

/* message */
.contact-text textarea {
  width: 100%;
  color: #A0A0A0;
  font-size: 1em;
  outline: none;
  background: white;
  padding: 1em;
  border: solid 1px #A0A0A0;
  min-height: 150px;
  -webkit-appearance: none;;
}
.contact-submit {
  border: none;
  outline: none;
  color: white;
  padding: 0.5em 1em;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  margin: 0.5em 0 0 0;
  -webkit-appearance: none;
  background: #00b1d4;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
}

.contact-submit:hover {
  background: #238288;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}